@import "bootstrap/dist/css/bootstrap.min.css";

.agenda-table td,
.agenda-table th {
    min-width: 120px;
    vertical-align: middle;
}

.hora {
    white-space: nowrap;
}

.dropdown-menu {
    min-width: 280px;
}

.timer-circle {
    width: 320px;
    height: 320px;
    border-radius: 50%;
    border: 4px solid black;
    background: conic-gradient(
        royalblue 0deg 290deg,
        red 290deg 325deg,
        red 325deg 345deg,
        red 345deg 360deg
    );
}