@import "bootstrap/dist/css/bootstrap.min.css";

.agenda-table td,
.agenda-table th {
    min-width: 120px;
    vertical-align: middle;
}

.hora {
    white-space: nowrap;
}

.dropdown-menu {
    min-width: 280px;
}